/* Estrutura do site
-------------------------------------------------*/

body{
    font: 16px Helvetica, Arial, sans-serif;
    background: url(../img/fundo-cursos.jpg);
    background-attachment: fixed;
    
}

html, body, #corpo {
    height: 100%;
}

/* Formatação do corpo
-------------------------------------------------*/

h2 {
    color: #DADADA;
}


.cornav {
    background-color: #001D3D;
    color: #DADADA;
    border-radius: 0 0 10px 10px !important;
}


.active {
    color: #25A18E !important;
    font-weight: bold;
}

.cadastro {
    background-color: #25A18E;
}

.cadastro:hover {
    background-color: #208f7e;
    color: #ffffff !important;
}

.cadastro a:hover {
    color: #ffffff !important;
}

.login {
    margin-right: 20px;
}

a {
    text-decoration: none;
}

li a:hover {
    color: #25A18E !important;
}


.display-6{
    font-size: 1.7rem !important;
}

.lead{
    font-size: 1.55rem !important;
}

#corpo-2 {
    background-color: #DADADA;
}

.bg-jogando {
    background-color: #001D3D;
    padding: 20px;
}

#corpo-3 h3 {
    color: #DADADA;
    padding-bottom: 20px;
}

#corpo-3 h4 {
    color: #25A18E;
}

#corpo-3 p {
    color: #fff;
}


/* Formatação do rodapé
-------------------------------------------------*/

footer{
    background-color: #001D3D;
    color: #DADADA;
    border-radius: 10px 10px 0 0;
    position: absolute;
    left: 0;
    width: 100%;
}

@media (max-width: 575.98px){
    .btnnav{
        display: flex;
        justify-content: start;
    }
}

/* Breakpoints responsivos
-------------------------------------------------*/

@media (max-width: 575.98px) { /* Extra small */
    
}

@media (min-width: 576px) and (max-width: 767.98px) { /* Small */
    
}

@media (min-width: 768px) and (max-width: 991.98px) { /* Medium */
    
}

@media (min-width: 992px) and (max-width: 1199.98px) { /* Large */
    
}

@media (min-width: 1200px) { /* Extra large */
    
}