body {
    background-color: #DADADA;
}

.cornav {
    background-color: #001D3D;
    color: #DADADA;
    border-radius: 0 0 0 0 !important;
}



.active {
    color: #25A18E !important;
    font-weight: bold;
}

.cadastro {
    background-color: #25A18E;
}

.cadastro:hover {
    background-color: #208f7e;
    color: #ffffff !important;
}

.cadastro a:hover {
    color: #ffffff !important;
}

.login {
    margin-right: 20px;
}

a {
    text-decoration: none;
}

li a:hover {
    color: #25A18E !important;
}

.bg-banner {
    background-color: #001D3D;
}

.bg-conteudo {
    background-color: #25A18E !important;
}

.display-6{
    font-size: 1.7rem !important;
}

.lead{
    font-size: 1.55rem !important;
}

footer {
    background-color: #001D3D;
    color: #DADADA;
    border-radius: 10px 10px 0 0;
    position: absolute;
    left: 0;
    width: 100%;
}

@media (max-width: 575.98px) {
    .btnnav {
        display: flex;
        justify-content: start;
    }
}