body{
    background-color: #DADADA;
}

.cornav{
    background-color: #001D3D;
    color: #DADADA;
    border-radius: 0 0 18px 18px;
}



.active{
    color: #25A18E !important;
    font-weight: bold;
}

.cadastro{
    background-color: #25A18E;
}




footer{
    background-color: #001D3D;
    color: #DADADA;
    border-radius: 10px 10px 0 0;
    position: absolute;
    left: 0;
    width: 100%;
}

@media (max-width: 575.98px){
    .btnnav{
        display: flex;
        justify-content: start;
    }
}