
/*estilo login */

#corpologin{

background-color: #25A18E;

}


.border-white{
    border-radius: 20px;
}

#coluna2{
  text-align: center;

}

.input-collor{
    color: black !important;
}


#corEsenha{
    color: white;
}



.container-form{
    background-color: #001D3D;
    color:white;
}

#botaologredesocial a:hover { 

    border: none;

}


/*estilo cadastro */

#corpocad{

    background:#001D3D;
}

.form-label{
    color:white;
}

.form-check-label{
    color:white;
}

#linha{

    border: 1px dotted #eaeef1;
}

/*estilo recuperação de senha */


.senha-cont{
    display: flex;
    
}

.senhacaixa{
   margin: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}








