
/*estilo login */

body {
    background-color: #DADADA;
}

.cornav {
    background-color: #001D3D;
    color: #DADADA;
    border-radius: 0 0 10px 10px !important;
}


.active {
    color: #25A18E !important;
    font-weight: bold;
}

.cadastro {
    background-color: #25A18E;
}

.cadastro:hover {
    background-color: #208f7e;
    color: #ffffff !important;
}

.cadastro a:hover {
    color: #ffffff !important;
}

.login {
    margin-right: 20px;
}

a {
    text-decoration: none;
}

li a:hover {
    color: #25A18E !important;
}


.display-6{
    font-size: 1.7rem !important;
}

.lead{
    font-size: 1.55rem !important;
}


#corpologin{

background-color: #25A18E;

}



.border-white{
    border-radius: 20px;
}

#coluna2{
  text-align: center;

}

.input-collor{
    color: black !important;
}


#corEsenha{
    color: white;
}



.container-form{
    background-color: #001D3D;
    color:white;
}

#botaologredesocial a:hover { 

    border: none;

}


/*estilo cadastro */

#corpocad{

    background:#001D3D;
}

.form-label{
    color:white;
}

.form-check-label{
    color:white;
}

#linha{

    border: 1px dotted #eaeef1;
}

/*estilo recuperação de senha */


.senha-cont{
    display: flex;
    
}

.senhacaixa{
   margin: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
}


footer{
    background-color: #001D3D;
    color: #DADADA;
    border-radius: 10px 10px 0 0;
    position: absolute;
    left: 0;
    width: 100%;
}







