body {
    background-color: #dadada;
}

.creditos {
    font-size: 0.7rem;
    margin-top: 50px;
    text-align: center;
}

.creditos a {
    color: #25A18E;
}

.creditos a:hover {
    color: #bf1a2f;
}

.aproveitar a {
    color: #003566;
    font-weight: bold;
}

.aproveitar a:hover {
    color: #25A18E;
}